{
	auto_https off
	admin localhost:2019
}

:80 {
	root * /var/www/public
	encode zstd br gzip

	# PHP files handling
	php_server {
		try_files {path} {path}/ /index.php?{query}
	}

	# Hidden files protection
	@hidden {
		path_regexp \/\..*
		not path /.well-known/*
	}
	handle @hidden {
		respond 404
	}

	# File server for static assets
	file_server

	log {
		output stdout
		format console
	}
}
